package components

templ Create() {
  <div id="create-page">
    <form hx-post="/create-todo" hx-target="#create-status">
      <label>Title:</label>
      <input type="text" name="title" placeholder="Enter todo title"><br><br>
      <label>Type:</label>
      <input type="text" name="type" placeholder="Enter todo type"><br><br>
      <button type="submit">CREATE</button>
      <br>
      <br>
      <p id="create-status"></p>
    </form> 
  </div>
}
