package components

import "todo/utils"

templ Show(datas []utils.PageData) {
  <div id="show-page">
    <ol>
      for _, data := range datas {
        <li>{data.Title}</li>
      }
    </ol>
  </div>
}
